* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

header .container {
    display: flex;
align-items: center;
justify-content: space-between;
}

body > header{
        background-color: rgb(85, 32, 134);
        padding: 16px 0;
        color:aliceblue
    }

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: aliceblue;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto 
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180 px;*/
    width:100%;
    height: 200px;
}

.articles article {
    width: 31%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(170, 219, 72, 0.507);
}

#sports .articles article a {
    background-color: rgb(233, 157, 70);
}

#economy {
    background-color: rgba(141, 201, 216, 0.726);
}

#economy .articles article a {
    background-color: rgb(58, 0, 105);
}

#fun {
    background-color: rgba(223, 147, 147, 0.692);
}

#fun .articles article a {
    background-color: rgb(66, 84, 167);
}

#technology {
    background-color: rgba(255, 216, 108, 0.63);
}

#technology .articles article a {
    background-color: rgb(31, 129, 72);
}

footer {
    display:block
}

footer {
    background-color: rgb(194, 194, 194);
}

.text-center {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    padding: 20px;
  }

